@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family: 'DungGeunMo';
   text-align: center;
}
main{
    text-align: center;
    position :relative;
    left: 400px;
    top:10%;

}